html {
  /* display: block; */
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #e8cebf;
  /* background-image: linear-gradient(to bottom right,#fdf8f5, #e8cebf,#e8cebf); */
}

a {
  text-decoration: none;
  padding: 5px;
}

a:hover {
  color: #266150;

  /* text-decoration: underline; */
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 0.75em;
  color: #4f4846;
  font-size: 1.9vw;
  font-family: fantasy;
  font-variant: small-caps;
  border: #266150;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* #footContainer {
  display:flex;
  flex-direction:column;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 8px;
} */

#intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: fantasy;
  text-align: center;
  color: #fdf8f5;
  font-variant: small-caps;
  font-size: 3.8vw;
  margin: 1vh;
}

#introTitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: fantasy;
  text-align: center;
  color: #266150;
  font-variant: small-caps;
  font-size: 3.8vw;
  margin: 1vh;
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  white-space: pre-wrap;
  font-size: 2.2vh;
  width: auto;
  height: auto;
  padding: 1px;
  margin: 0;
  background-image: linear-gradient(
    to right,
    #fdf8f5,
    #e8cebf,
    #e8cebf,
    #e8cebf
  );
}
nav > img {
  margin-right: auto;
  margin-left: 4%;
  width: 13%;
  height: auto;
}
.imgContainer {
  position: relative;
  text-align: center;
}
/*
.navBorder{
  padding:0px;
} */

#footContainer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  white-space: pre-wrap;
  font-size: 2vh;
  width: auto;
  height: auto;
  margin: 0;
  background-color: #fdf8f5;
}
#footContainer > div {
  font-size: 1.2vw;
  white-space: pre-wrap;
  padding: 10px;
  height: auto;
  width: 20em;
  color: #4f4846;
  font-family: fantasy;
}
#footName {
  color: #266150;
  font-size: 2vw;
  padding: 10px;
  font-weight: bold;
  font-family: fantasy;
}
/*
#logo {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-left: 3%;
  width: 10%;
  height: auto;
} */

#homePhoto {
  width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  background-color: #fdf8f5;
  padding: 8px;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: '';
  clear: both;
  display: block;
}

.title {
  color: rgb(97, 96, 96);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #c89882;
  text-align: center;
  cursor: pointer;
  width: 100%;
  /* height: auto; */
}

.button:hover {
  background-color: #266150;
}

#therapist {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

#Contact {
  background-color: #4f4846;
  border-radius: 30px;
  padding: 10px;
  color: #fdf8f5;
  width: 1vw;
}
#Contact:hover {
  background-color: #266150;
  border-radius: 30px;
}

#homebottom {
  text-decoration-color: rgb(233, 225, 241);
  display: flex;
  align-items: center;
  padding: 25px;
  text-align: center;
  justify-content: space-around;
  white-space: pre-wrap;
  font-size: 2vw;
  color: #fdf8f5;
  font-variant: small-caps;
  text-shadow: 2px 2px 5px #4f4846;
}

#homebottom2 {
  display: flex;
  align-items: center;
  padding: 50px;
  text-align: center;
  justify-content: space-evenly;
  white-space: pre-wrap;
  font-size: 1.5vw;
  font-family: fantasy;
  font-variant: small-caps;
}

#homebottom2 > button {
  font-size: 2vw;
  width: 50vw;
  height: auto;
  padding: 5px;
}

#homebottom2 > h1 {
  padding: 15px;
  color: #4f4846;
}

nav {
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
}

#about > p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: fantasy;
  text-align: center;
  width: 75vw;
  color: #4f4846;
  font-size: 2vw;
  padding: 10px;
}

.firstIntro {
  padding: 25px;
  text-shadow: 2px 2px 5px #4f4846;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}
