html {
  /* display: block; */
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: #e8cebf;
  /* background-image: linear-gradient(to bottom right,#fdf8f5, #e8cebf,#e8cebf); */
}

a {
  text-decoration: none;
  padding: 5px;
}

a:hover {
  color: #266150;
  /* box-shadow:1px 1px 1px 1px #fdf8f5; */
  /* text-shadow: 5px 5px  #fdf8f5 ; */
  border-bottom: 5px dotted #fdf8f5;
  /* box-shadow: 5px 10px 5px 5px; */
  /* text-decoration: underline; */
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 0.75em;
  color: #4f4846;
  font-size: 1.9vw;
  font-family: ivypresto-display, serif;
  font-variant: small-caps;
  font-weight: 100;
  border: #266150;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* #footContainer {
  display:flex;
  flex-direction:column;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 8px;
} */

#intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: ivypresto-display, serif;
  text-align: center;
  color: #fdf8f5;
  font-variant: small-caps;
  font-size: 3.8vw;
  margin: 1vh;
}

#introTitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: ivypresto-display, serif;
  text-align: center;
  color: #fdf8f5;
  font-variant: small-caps;
  font-size: 3.8vw;
  margin: 1vh;
  padding: 15px;
  background-image: url('NYC.jpg');
  background-repeat: space;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  white-space: pre-wrap;
  font-size: 2.2vh;
  width: auto;
  height: auto;
  padding: 1px;
  margin: 0;
  background-image: linear-gradient(
    to right,
    #fdf8f5,
    #e8cebf,
    #e8cebf,
    #e8cebf
  );
}
nav > img {
  margin-right: auto;
  margin-left: 4%;
  width: 13%;
  height: auto;
}
.imgContainer {
  position: relative;
  text-align: center;
}
/*
.navBorder{
  padding:0px;
} */

#footContainer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  white-space: pre-wrap;
  font-size: 2vh;
  width: auto;
  height: auto;
  margin: 0;
  background-color: #fdf8f5;
}
#footContainer > div {
  font-size: 1.2vw;
  white-space: pre-wrap;
  padding: 10px;
  height: auto;
  width: 20em;
  color: #4f4846;
  font-family: fantasy;
}
#footName {
  color: #266150;
  font-size: 2vw;
  padding: 10px;
  font-weight: bold;
  font-family: fantasy;
}

#footer-div {
  position: relative;
  bottom: 0;
  width: 100%;
}
/*
#logo {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-left: 3%;
  width: 10%;
  height: auto;
} */

#homePhoto {
  width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0px 4px 5px 0 #266150;
  border-radius: 25px;
  /* border-left: 6px solid #266150; */
  min-width: 343px;
  min-height: 1000px;
  width: 100%;
  height: 100%;
  background-color: #fdf8f5;
  padding: 8px;
  /* text-indent:5%; */
}

.container {
  padding: 0 16px;
}

/* .contianer > p{
font-family:ivypresto-display,serif;
line-height: 8.6;
} */

/* .card:last-child {
  position:absolute;
  bottom:0;
} */

.container::after,
.row::after {
  content: '';
  clear: both;
  display: table;
}
/*
.row{
   display: grid;
  grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;

  grid-template-columns: 80px 200px auto 40px;
} */

.title {
  color: rgb(97, 96, 96);
}
/* .card {
 display:flex;
 flex-direction: row;
} */

.button {
  border: none;
  border-radius: 25px;
  outline: 0;
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  color: white;
  background-color: #c89882;
  text-align: center;
  cursor: pointer;
  width: 100%;
  transition-duration: 0.4s;
  box-shadow: 0 8px 8px 0 #4f4846, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  background-color: #266150;
}

#therapist {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

#Contact {
  background-color: #4f4846;
  border-radius: 30px;
  padding: 10px;
  color: #fdf8f5;
  width: 1vw;
}
#Contact:hover {
  background-color: #266150;
  border-radius: 30px;
}

#homebottom {
  text-decoration-color: rgb(233, 225, 241);
  display: flex;
  align-items: center;
  padding: 25px;
  text-align: center;
  justify-content: space-around;
  white-space: pre-wrap;
  font-size: 2vw;
  color: #fdf8f5;
  font-variant: small-caps;
  text-shadow: 2px 2px 5px #4f4846;
}

#homebottom2 {
  display: flex;
  align-items: center;
  padding: 50px;
  text-align: center;
  justify-content: space-evenly;
  white-space: pre-wrap;
  font-size: 1.5vw;
  font-family: fantasy;
  font-variant: small-caps;
}

#homebottom2 > button {
  font-size: 2vw;
  width: 50vw;
  height: auto;
  padding: 5px;
  transition-duration: 0.4s;
}

#homebottom2 > h1 {
  padding: 15px;
  color: #4f4846;
}

nav {
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
}

#about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: ivypresto-display, serif;
  text-align: left;
  text-indent: 10%;
  width: 80vw;
  color: #4f4846;
  font-size: 2.5vw;
  padding: 5px;
  line-height: 1.6;
}

.firstIntro {
  padding: 25px;
  text-shadow: 2px 2px 5px #4f4846;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}

#insuranceLogos > img {
  max-width: 25vw;
  max-height: 25vh;
  padding: 5px;
  margin: 5px;
}

#insuranceLogos {
  /* display:grid; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  white-space: pre-wrap;
  width: auto;
  height: auto;
  margin: 0;
}

.empire {
  width: 234px;
}

/* #insurance {
  padding: 30px;
} */

/* #introTitle{
  background-image:url('manhattan.png');
    background-repeat: no-repeat;
  background-position: center;
} */
